/*
  style.css 
  Feel free to change this CSS for your own purposes
*/

/* Using font-size: larger to make things pop. Feel free to change. */
body {
    background-color:#ff3c00;
    color: white;
    margin: 30px;
    font-size: x-large;
}

